
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    /* margin-top: 10px; */
}
/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
   color: #FD6E0A; 
}
.dark2{
   color: #474747; 
}
.section-title{
font-size:  35px;
font-weight: bold;
color: black;

}
.text-center{
    text-align: center;
}
.section-descrption{
    font-size: 18px;
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    border-color: aliceblue;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 20px;
}
.btn-sec{
    background-color: #f5efeb;
    font-weight: 700;
    color: #FD6E0A;
    padding: 10px 30px;
    border-color: #FD6E0A;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 20px; 
}
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 55px 0 200px;
    /* max-height: 500px; */
}
.banner-content{
    max-width: 580px;
}
.banner-grteetings{
font-size: 30px;
font-weight: 600;
}
.banner-title{
font-size: 50px;
font-weight: bold;
}
.img-me{
    width: 580px;
    /* height: 533px; */
}
/* main styles */
main{
    max-width: 1040px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 70px;
}
/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
font-weight: 600;
margin-right: 20px;
}
.item-title{
    font-size: larger;
    font-weight: bold;
    color: brown;
    margin-right: 20px;
}
/* skill styles */
.skill-container{
    display: flex;
    gap: 20px;
    margin-top: 30px;
   
}
.skill{
    padding: 30px;
    border: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.14);
    
}
.skill-description{
    text-align: left;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color: #757575;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
    
}
.experience-title{
font-size:  15px;
font-weight: bold;
color: black;

}
.resume-column-title{
    text-align: center;
    text-decoration: underline;
    text-shadow: #474747;
    color: brown;
}
.section-title-2{
font-size:  35px;
font-weight: bold;
color: black;
text-align: center;
}
.resume-download{
    text-align: center;
    margin-top: 20px;
}
footer{
    padding: 130px 200px;
    display: flex;
    justify-content: space-between;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    display: block;
    width: 100%;
    background-color: #f5efeb;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}
.icon{
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
}